<% layout('./boilerplate/boilerplate.ejs') %>
<body>
    <div class="cards card-update greenBg">
        <form action="/admin/points?_method=patch" method="post">
            <input required class="ipBox p-1 ipUpdate bg-info-subtle w-100" type="text" name="who" id="" placeholder="who are u?">
            <br> <br>
            <input required class="ipBox ipUpdate bg-success-subtle w-100" type="number" name="points" placeholder="points">
            <br> <br>
            <input required class="ipBox ipUpdate bg-primary-subtle w-100" type="text" name="teamCode" placeholder="team code">
            <br><br>
            <button class="btn btn-danger btn-lg btn-block w-100">Submit</button>
        </form>
    </div>
   
</body>